import /init.streak7.usb.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug

on init
    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

    # create directory for mounting external sdcard
    mkdir /storage/sdcard1 0666 system system
    symlink /storage/sdcard1 /external_sd
    symlink /storage/sdcard1 /mnt/external_sd

    # create directory for mounting usb drives
    mkdir /storage/usbdisk 0666 system system
    symlink /storage/usbdisk /mnt/usbdisk
    symlink /storage/usbdisk /usbdisk

on fs
    # Okpa, symbolic link named partitions
    exec /sbin/ln_named_part mmcblk3 /dev
    setprop ro.crypto.umount_sd false
    mount_all /fstab.streak7
    
# misc setting
    symlink /dev/block/mmcblk3p12 /dev/general_setting
    symlink /dev/block/mmcblk3p15 /dev/fa
    symlink /dev/block/mmcblk3p16 /dev/otp
    chown root system /dev/VAR
    chmod 0660 /dev/VAR
    chown root system /dev/WP1
    chmod 0660 /dev/WP1
    chown root system /dev/MSC
    chmod 0660 /dev/MSC
    
    setprop ro.crypto.tmpfs_options size=128m,mode=0771,uid=1000,gid=1000

on post-fs-data

    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    mkdir /data/misc/pmlog 0770
    chown dhcp dhcp /data/misc/dhcp

    # we will remap this as /storage/emulated with the sdcard fuse tool
    mkdir /data/media 0770 media_rw media_rw

    # change back to bluetooth from system
    chown bluetooth bluetooth /data/misc/bluetooth

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

# Shuli, create system log folders.
    mkdir /data/systemlog 0777 root root
    mkdir /data/systemlog/wakelock 0777 root root
    mkdir /data/systemlog/kwakelock 0777 root root
    mkdir /data/systemlog/kwakelock_main 0777 root root
    mkdir /data/systemlog/reload 0777 root root

on boot
# bluetooth
    # UART device
    chmod 0660 /dev/ttyHS2
    chmod 0660 /dev/bt_mac
    chown bluetooth bluetooth /dev/ttyHS2
    chown bluetooth bluetooth /dev/bt_mac

    # Audio device
    chmod 0660 /dev/hdst0
    chown system system /dev/hdst0

    # power up/down interface
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type

    # bluetooth MAC address programming
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chown bluetooth bluetooth /system/etc/bluetooth
    setprop ro.bt.bdaddr_path "/dev/bt_mac"

# backlight
    chown system system /sys/class/backlight/pwm-backlight/brightness

# Sensor
    chmod 666 /dev/nvhost-ctrl
    chmod 666 /dev/nvhost-display
    chmod 666 /dev/nvhost-dsi
    chmod 666 /dev/nvhost-gr2d
    chmod 666 /dev/nvhost-gr3d
    chmod 666 /dev/nvhost-isp
    chmod 666 /dev/nvhost-mpe
    chmod 666 /dev/nvhost-vi
    chmod 664 /sys/bus/iio/devices/device0/lux
    chmod 664 /sys/bus/iio/devices/device0/proxim_ir

    chown system system /sys/bus/i2c/drivers/mm_ak8975/0-000c/mode
    chown system system /sys/bus/i2c/drivers/mm_ak8975/0-000c/show_flux

# Emily, for application(FVS) access
    chmod 666 /dev/ata_misc_capkey
    chmod 666 /dev/misc_keypad
# Emily, for application(TouchPanel) access
    chmod 666 /dev/atmel_misc_touch


# Power management settings
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
    write /sys/module/cpuidle/parameters/lp2_in_idle 0

# Interactive (initial) setup
    write /sys/devices/system/cpu/cpufreq/interactive/boost_factor 2
    write /sys/devices/system/cpu/cpufreq/interactive/input_boost 1
    write /sys/devices/system/cpu/cpufreq/interactive/sustain_load 80
    
    write /sys/kernel/mm/ksm/pages_to_scan 100
    write /sys/kernel/mm/ksm/sleep_millisecs 500
    write /sys/kernel/mm/ksm/run 1

# Default Read Ahead value for sdcards
    write /sys/block/mmcblk2/queue/read_ahead_kb 2048
    write /sys/block/mmcblk3/queue/read_ahead_kb 2048

# WH Lee
# GPS
    write /sys/class/gpio/export 123
    write /sys/class/gpio/gpio123/value 0
    write /sys/class/gpio/gpio123/direction out
    chown gps system /sys/class/gpio/gpio123/value
    chmod 0664 /sys/class/gpio/gpio123/value
    mkdir /data/gps
    chown gps system /data/gps
    chmod 770 /data/gps
    chown gps system /dev/ttyHS3
    chmod 0660 /dev/ttyHS3

# Shower enable for backlight test
chown system /sys/class/gpio/gpio143/value

# HW.Lin
chown system /sys/class/gpio/gpio145/value

service wpa_supplicant /system/bin/wpa_supplicant \
    -Dwext -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
	class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    disabled
    oneshot

# Qisda Isaac
on property:init.svc.wpa_supplicant=stopped
 stop dhcpcd_wlan0

# virtual sdcard daemon running as media_rw (1023)
service sdcard /system/bin/sdcard /data/media /mnt/shell/emulated 1023 1023
    class late_start

# bugreport is triggered by the VOLUME-DOWN and VOLUME-UP keys
service bugreport /system/bin/dumpstate -d -v -o /data/storage/bugreports/bugreport
    class main
    disabled
    oneshot
    keycodes 115 114

#BCM
service hciattach /system/bin/brcm_patchram_plus --enable_hci \
    --baudrate 3000000 --patchram /etc/firmware/bcm4329.hcd --enable_lpm /dev/ttyHS2
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled

# WH Lee, 20090518, Add sensors daemon service
service sensors_daemon /system/bin/sensors_daemon
    class late_start

# WH Lee
# Start GPS daemon
service gps-daemon /system/bin/glgps_nvidiaTegra2android -c /system/etc/gpsconfig.xml
    socket gps seqpacket 0660 gps system
    user gps
    group system
    class late_start

# Shuli, logfilter init
service lfinit /system/bin/lfinit
    class main
    oneshot

# Qisda Mingyan, for EMwifi
service wifid /system/bin/wifid
    class main
    socket wifid stream 600 system system

#Prepare TF service
service tf_daemon /system/bin/tf_daemon -storageDir /data/tf -d
    disabled
    class main
    user root
    group shell
    oneshot

#Create data directory and start service
on property:tf.enable=y
    mkdir /data/tf
    start tf_daemon

# create filesystems if necessary
service setup_fs /system/bin/setup_fs \
        /dev/block/platform/sdhci-tegra.3/by-name/UDA \
        /dev/block/platform/sdhci-tegra.3/by-name/CAC
    class core
    user root
    group root
    oneshot
